ion-content {
  
  .postImg {
    // opacity: 0;
    // animation: ImageFadeIn .4s .8s forwards;
    img {
      height: 250px;
      width: 100%;
    }
    ion-toolbar {
      position: fixed;
      top: 0px;
      left: 0px;
      --background: translucent;
      background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(96, 96, 96, 0.25));
      .back {
        float: left;
        margin: 0px 0px 0px 10px;
        color: white;
        font-size: x-large;
      }
      .icons {
          float: right;
          top: 10px;
          right: 10px;
          margin: 10px 10px 0px 0px;
        ion-icon {
          margin-left: 10px;
          color: white;
          font-size: x-large;
        }
      }
    }
  }

  .detail {
    // opacity: 0;
    margin: 0px 20px 0px 20px;
    // animation: ContentFadeIn .4s 1s forwards;
    h4 {
      margin: 15px 0px 15px 0px;
      color: rgb(58, 57, 49);
    }
    .postDetail {
      div {
        color: rgb(156, 156, 156);
        font-size: 14px;
      }
      .like, .view {
        float: left;
        margin-right: 10px;
        ion-icon {
          color: rgb(156, 156, 156);
          float: left;
        }
        p {
          float: left;
          margin: -3px 0px 0px 5px;
        }
      }
      .date {
        float: right;
        ion-icon {
          color: rgb(156, 156, 156);
          float: left;
        }
        p {
          float: left;
          margin: -3px 0px 0px 7px;
        }
      }
    }
    .content {
      margin: -20px 0px 15px 0px;
      p {
        color: #252525;
        font-size: 17px;
        text-align: justify;
      }
    }
  }

  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  @keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }
}