<app-loader *ngIf="!datafatched"></app-loader>

<!-- <ion-toolbar #header>
  <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
  <ion-title>TM</ion-title>
</ion-toolbar> -->


<ion-content *ngIf="datafatched" [scrollEvents]="true" (ionScroll)="logScrolling($event)" (ionScrollStart)="scrollStart(header)">
  
  <div class="postImg">
    <img src="{{ postDetail.postImage }}">
    <ion-back-button defaultHref="/home" class="back"></ion-back-button>
    <div class="icons">
      <ion-icon name="heart-outline" class="like"></ion-icon>
      <ion-icon name="share-social" class="share"></ion-icon>
    </div>
  </div>

  <div class="detail">
    <h4>{{ postName }}</h4>
    <div class="postDetail">
      <div class="like">
        <ion-icon name="heart"></ion-icon> 
        <p>{{ postDetail.likes }}</p>
      </div>
      <div class="view">
        <ion-icon name="eye"></ion-icon> 
        <p>150</p>
      </div>
      <div class="date">
        <ion-icon name="calendar-outline"></ion-icon>
        <p>{{ postDetail.timestamp * 1000 | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div><br><br>
    <div class="content">
      <p>
        {{ postDetail.content }}
      </p>
      <p>
        {{ postDetail.content }}
      </p>
      <p>
        {{ postDetail.content }}
      </p>
    </div>
  </div>

</ion-content>