<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Your Story</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="none" class="ion-no-margin ion-no-padding">

      <ion-item lines="none">
        <ion-label position="stacked">Title</ion-label><br>
        <input required type="text" placeholder="Enter Title">
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Category</ion-label><br>
        <input required type="text" placeholder="Enter Category">
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Description</ion-label><br>
        <textarea required type="text" placeholder="Type a description" rows="4"></textarea>
      </ion-item>

    </ion-list>

    <button>Submit</button>
  </form>
  
</ion-content>
