// ion-header {
//     ion-toolbar {
//       --background: translucent;
//       background-color: #517a9f;
//       color: white;
//       align-items: center;
//     }
// }

ion-content {
    form {
        ion-list {
            ion-item {
                ion-label {
                    font-size: 23px;
                }
                input {
                    width: 100%;
                    margin-top: -12px;
                    padding: 5px 8px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    outline: 0;
                }
                input:focus {
                    border: 1px solid #517a9f;
                }
                textarea {
                    width: 100%;
                    margin-top: -12px;
                    padding: 5px 8px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    outline: 0;
                    resize: none;
                }
                textarea:focus {
                    border: 1px solid #517a9f;
                }
            }
        }
        ion-button {
            // background-color: green;
            float: right;
            border-radius: 3px;
            margin: 15px 15px 0px 0px;
            padding: 0px 12px;
            color: white;
            height: 40px;
            font-weight: 500;
        }
    }
}