ion-header {
    ion-toolbar {
      ion-title {
        margin-left: -25px;
      }
    }
}

ion-content {
    form {
        ion-list {
            ion-item {
                ion-label {
                    font-size: 23px;
                }
                input {
                    width: 100%;
                    margin-top: -12px;
                    padding: 5px 8px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    outline: 0;
                }
                textarea {
                    width: 100%;
                    margin-top: -12px;
                    padding: 5px 8px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    outline: 0;
                    resize: none;
                }
            }
        }
        button {
            background-color: green;
            float: right;
            border-radius: 3px;
            margin: 15px 15px 0px 0px;
            padding: 0px 12px;
            color: white;
            height: 40px;
            font-weight: 500;
        }
    }
}