ion-menu {
    ion-header {
        ion-toolbar {
            background-color: #f4f4f4;
            color: #424242;
            height: 50px;
            align-items: center;
            img {
                height: 30px;
                width: 30px;
                margin: -17px 10px 10px 10px;
                position: absolute;
            }
            ion-title {
                position: absolute;
                margin: -17px 10px 10px 30px;
                font-size: 20px;
                align-items: center;
            }
        }
    }

    ion-content {
        ion-list {
            ion-item {
                ion-label {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }
        }
    }
}