ion-content {
    .privacyPolicy {
        padding: 20px;
        .title {
            color: #517a9f;
        }
        .content {
            font-size: 17px;
            text-align: justify;
            p {
                a {
                    color: #517a9f;
                }
            }
            ul {
                li {
                    a {
                        color: #517a9f;
                    }
                }
            }
        }
    }
}