ion-content {
    .about {
        padding: 20px;
        .title {
            color: #517a9f;
        }
        p {
            text-align: justify;
            font-size: 17px;
            a {
                color: #517a9f;
            }
        }
        ul {
            li {
                font-size: 17px;
            }
        }
    }
}