<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<app-loader *ngIf="!datafatched"></app-loader>

<ion-content [fullscreen]="true" *ngIf="datafatched">

  <!-- <div class="container">
    <div class="row" >
      <div class="col-md-4" *ngFor="let category of categoryList">
        <ion-card (click)="navigateToPost(category.categoryName)">
          <img src="{{ category.imageUrl }}">
          <hr>
          <ion-header>
            <ion-card-title>{{ category.categoryName }}</ion-card-title>
            <ion-card-subtitle>{{ category.about }}</ion-card-subtitle>
          </ion-header>
          
        </ion-card>
      </div>
    </div>
  </div> -->

  <div class="container" *ngFor="let category of categoryList">
    <div class="card" (click)="navigateToPost(category.categoryName)">
       <div class="card__image-container">
         <img class="card__image" src="{{ category.imageUrl }}">
      </div>
        
        <svg class="card__svg" viewBox="0 0 800 500">
  
          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#fff"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="4" fill="transparent"/>
        </svg>
      
       <div class="card__content">
         <h3 class="card__title">{{ category.categoryName }}</h3>
        <p>{{ category.about }}</p>
      </div>
    </div>
  </div>

</ion-content>


    